#companiesPanel
{
	width: 800px;
	padding: 20px;
}
#singleCompanyDetail
{
	width: 800px;
	padding: 20px;
}

#editForm
{
	width: 300px;
	padding: 20px;
}
#AddCompanyForm
{
	width: 400px;
}

#editButton
{
	padding-bottom: : 100px;
}

#addPersonForm
{
	width: 400px;
}
page-header
{
	width: 1000px;
}
html {
    position: relative;
    min-height: 100%;
    width: 100px;
  }
#peoplePanel
{
	width: 800px;
}
#personPanel
{
	width: 800px;
}
#createCompany
{
	margin-top: 0;
}

.companyDetails
{
	/*width: 300px;*/
}

#title
{
	font-weight: bold;
}

ul.a
{
	list-style-type: circle;
}

p
{
	line-height: 0.8;
}

h1
{
	width: 500px;
}
panel-heading
{
	font-weight: bold;
	font-size: 20px;
	margin: 0;
}

input
{
	/*width: 300px;*/
}

body
{
	/*width: fixed;*/
}